@import "../../assets/scss/helpers/fonts";
@import "../../assets/scss/helpers/colors.scss";


.ant-layout-header {
  height: 88px;
  padding: 0 50px;
  line-height: 2;
  background: #001529;
}
.ant-layout-content {
  flex: auto;
  min-height: 0;
  background: #ffff;
}
.ant-menu-horizontal {
  line-height: 81px!important;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: none;
}
  .sections-header {

    .ant-menu-dark.ant-menu-horizontal>.ant-menu-item,
    .ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu {
      font-size: 16px;
      padding: 0 10px;
      margin-left: 3rem;
      font-weight: 500;
    }

    .ant-btn>span {
      font-weight: 500;
    }
  }

  .sections-header {
    .ant-layout-header {
      background: #fff;
      box-shadow: none !important;

      .ant-menu.ant-menu-dark,
      .ant-menu-dark .ant-menu-sub,
      .ant-menu.ant-menu-dark .ant-menu-sub {
        background: #ffff;
        text-align: center;
      }
    }
  }