$main-color: #368C89;
$secondary-color:#4EAFAC;
$orange-color:#FDAC4E;
$white-color:#ffffff;
$light-grey:#B0B6C3;
$grey:#8D8D8D;

.light-grey{
    color: $light-grey;
}
.fw-3{
    font-weight: 300;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}