.fs-12x {
    font-size: 12px;
}
.fs-13x {
    font-size: 0.785rem;
}
.fs-16x{
    font-size: 16px;
}
.fs-20x{
    font-size: 20px;
}
.br-10x{
    border-radius: 10px;
}
.br-12x {
    border-radius: 12px;
}
.fw-5{
    font-weight: 500 !important;
}
.fw-4{
    font-weight: 400;
}
.w-space-1{
    word-spacing: 1px;
}
.pointer{
    cursor: pointer;
}
