@import './colors.scss';

$defaultInputBorderColor: #eeeeee;
$InputborderHoverColor: $primaryColor;
$InputborderActiveColor: #eeeeee;
$InputborderFocusColor: #009688;
$defaultBorderRadius : 10px;
$buttonBorderRadius : 8px;
$secondBorderRadius: 2px;