$primaryColor : #1D52A4;
$defaultBorderColor :#989898;
$placeholderColor: #929292;
$inputDisabledText: #f5f5f5;
// background_color_variable
$defaultBackground : #fff;
$secondaryBackground: #0096881a;
$mainHoverBackground: #295daec7;
$commonText: #000014;
$heading2Color:#2A2A2A;
$normalText:#989898;
$lightcolor:#E8EEF8;
$cancelBtnColor:#EAF0F8;
$white: #ffffff;
$dashboardCard: #F4F6FA;
$lighterBlue: #EAEFF9;
$extreme: #FF0000;
$severe: #FFA500;
$aboveNormal: #FFFF00;
$normal: #5E17DF;

$lightGreen: #D4EEDA;
$darkGreen: #34B04F;

$lightYellow: #FCFFDE;
$darkYellow: #FF6B00;

$lightRed: #FFDEDE;
$darkRed: #FF0000;
$inactive-status:#db5a5a;
$active-status :#169E34;
$inactive-status-bg:#ffededb5;
$active-status-bg :#F1FFF4;
$switchbgcolor :rgba(52, 176, 79, 0.12);
